# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=87170de0-66d8-40fe-a05a-e72a1193423f

    # Set to true to disable all reporting
    B:opt-out=false
}


