# Configuration file

##########################################################################################################
# buildsize
#--------------------------------------------------------------------------------------------------------#
# Measured in blocks.
##########################################################################################################

buildsize {
    I:BunkerRadius=10
    I:SpawnDomeRadius=20
    I:TeleportDistance=150
    I:objectivedistance=200
}


##########################################################################################################
# decay
#--------------------------------------------------------------------------------------------------------#
# Measured in ticks of existence. Tesla is in blocks.
##########################################################################################################

decay {
    I:FlamethrowerDecay=64
    I:KnifeThrowStrengthDecay=91
    I:RPGDecay=200
    I:TeslaDecay=250
    I:plasmoidDecay=70
}


##########################################################################################################
# explosionsize
#--------------------------------------------------------------------------------------------------------#
# Measured in blocks. Nuclear bomb just adds the specified number to its calculation.
##########################################################################################################

explosionsize {
    I:ChargeExplosionSize=5
    I:LandmineExplosionSize=2
    I:NuclearBombStrength=10
    I:RocketExplosionSize=4
    I:TimedBombExplosionSize=6
    I:b83Strength=15
    I:tsarBombaSpeed=8
    I:tsarBombaStrength=24
}


##########################################################################################################
# guiids
#--------------------------------------------------------------------------------------------------------#
# All Gui IDs can be found here.
##########################################################################################################

guiids {
    I:NuclearBombGuiID=99
    I:optifineguiID=105
    I:recieverGuiID=101
    I:rrchestGuiID=100
    I:teslaguiID=104
    I:tokamakID=103
    I:tsarguiID=102
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Miscellaneous.
##########################################################################################################

misc {
    I:B2SpiritHealth=300
    B:BKeyZoom=true
    B:FlareExplodeOnBreak=true
    B:HBLaptop=false
    B:InfiniteAmmo=false
    B:InfiniteGrenades=false
    B:LeftClickTarget=true
    I:MaximumResets=2
    B:RKeyTarget=true
    I:RoundsPerReset=0
    B:goreEnabled=true
    B:safemode=true
    B:stopSelfnukeinSinglePlayer=false
    I:teslasegments=2
}


##########################################################################################################
# timing
#--------------------------------------------------------------------------------------------------------#
# Measured in seconds.
##########################################################################################################

timing {
    I:NuclearBombCountdown=25
    I:TimedBombSeconds=25
}


version {
    S:RRVersion=1.7.10A
}


