# Configuration file

debug {
    # Adds additional info to the console [default: false]
    B:Missile_Manager=false
}


general {
    # Allows antimatter to break blocks that are unbreakable, bedrock for example. [default: true]
    B:Antimatter_Destroy_Unbreakable=true
}


modsupport {
    # Allows disabling thaumcraft support, if issues arise or game play balance is required. [default: false]
    B:DisableThaumSupport=false
}


volume {
    # How loud the missile is when fired from launchers [range: 0.0 ~ 4.0, default: 1.0]
    S:missile_firing_volume=1.0
}


